.button {
    display: block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #133fc4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:0%
  }
  
.button:hover {background-color: #87ceeb}

.button:active {
background-color: #87ceeb;
box-shadow: 0 5px #666;
transform: translateY(4px);
}