*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 40.3%;
    height: 100vh;
    background:#FFFFFF;
    display: block;
    align-items:center;
    justify-content:center;
}

.calculator{
    background: #3a4452;
    padding: 30px;
    border-radius: 10px;
}

form input.numbers{
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin: 10 px;
}

form input.numbers2{
    border: 0;
    outline: 0;
    width: 208px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 1px;
    color: #fff;
    cursor: pointer;
    margin: 5 px;
    text-align: right;
}

form .display output{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 30px;
    box-shadow: none;
    overflow: visible;
}

form input.equal{
    width: 105px;
}

form input.operator{
    color: #87ceeb;
}
